@media all and (min-device-width: 720px){
    body{
        font-size: 100%;
    }
}

@media all and (max-device-width: 640px){
    body {
        font-size: 100%;
    }
}

@media all and (max-device-width: 320px) {
    body {
        font-size: 100%;
    }
}
    @media all and (min-device-width: 1024px) {
        body {
            font-size: 30px;
        }
    }
