#dd{
    border: 2px dotted black ;
    width:100%
  }
.d1 h4
   {
      border-style:solid;
      border-width:1px;
      border-radius:5px;
      margin-left:25%;
      width:50%;
      text-align: center;
   }
.dd
   {
     padding:20px;
   }
.d2 h4
    {
       font-weight:bold;
        padding:2px;
        margin:0;
    }
.d2 h5
    {
      color:black;
      padding:2px;
      margin:0;
    }
.d3{
     border-top-style: solid;
   }
.d4 {
      overflow-x:auto;
    }
 table#t{
         width:98%;
        }
#p1
    {
       background-color: gray;
    }
#p2 {
      text-indent: 50px;
    }
#p3
   {
    background-color: gray;
    }
td{text-align:center;}
#t{
    border:solid black;width: 50%;
    height:50%;
    margin-left:20px;
 }
#t thead
      {
        text-align: center;
        padding:4px;
      }
.d4 p{
      background-color: grey;
     }
.d41
    {
      font-size:20px;
      font-weight:bold;
    }
.d5 p{
       background-color: gray;
     }
.d6 p
     {
       background-color: gray;
     }
.d7 p{background-color: gray;}
.d8{text-indent: 30px;}